@import url(//db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=BrandonGrotW01-Light);

.contact {
    padding-top: 80px;
}

.contact_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 80px;
}

.contact_request {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom : 80px;
    font-size: 30px;
}

.contact_form {
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    
}

.client_info {
    width: 100%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

.client_message {
    width : 100%;
    height: 80px;
    grid-column: 1/4;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
}

.submit_btn{
    cursor: pointer;
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.company_info {
    text-align: center;
    margin: 80px 0px 30px;
}

.company_info p {
    margin: 0px;
}

.company_pic {
    display: flex;
    justify-content: center;
    align-items: center;

}
.company_pic img {
    width: 90%;
    max-width: 900px;
    min-width: 300px;

}

.contact_map{
    width: 90%;
    max-width: 900px;
    min-width: 300px;
    margin: 100px auto;
}

.copyright p{
    color: rgb(148, 104, 104);
    text-align: center;
    font-family: "BrandonGrotW01-Light";
    font-size: 16px;
    margin-top: 200px;
}


/* MEDIA */
@media (max-width: 1024px) {
    .contact {
        padding-top: 0;
    }
    
    
     
}


@media (max-width: 768px) {
    
    .contact_form {
        display: block;        
    }
    .contact_form_items {
        margin: 30px 0;
    }
    .contact_map{}


}