@import url(//db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=BrandonGrotW01-Light);
@import url(//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold);

/*All*/
.Estimates-container{
    margin-top:100px; /*for header*/
    width: 100%;
    height: auto;
    font-family: "맑은 고딕, malgun gothic, apple sd gothic neo, applegothic, sans-serif";
    box-sizing: border-box;
}

/*Container*/
.first-container-item{
    width: inherit;
    height: 300px;
}

.Explanation-container {
    margin-left: -10px;
    width: inherit;
    height: auto;
    text-align: center;
    box-sizing: border-box;

}
.checkbox-container{
    height:15px;
    margin-bottom: 5px;
}
.checkbox-container label{
    /* position: relative; */
    width:200px;
    height:15px;
    display: inline-flex;
    cursor:pointer;
}
.third-container-item{
    width:inherit;
    height:auto;
    padding: 0 120px 0 120px;
    box-sizing: border-box;
}

.estimation-title{
    height: 150px;
    text-align: center;
    line-height: 150px;
}


/*Text*/
.grid-item h2{
    font-size:16px;
}
.first-container-item h1{
    margin: 0;
    font-family: "LuloCleanW01-OneBold";
    font-size: 38px;
    font-weight: bold;
    font-style: normal;
    line-height: 300px;
    letter-spacing: 0.45em;
    text-align: center;
    text-transform: uppercase;
}

.Explanation-container span {
    font-family: "맑은 고딕, malgun gothic, apple sd gothic neo, applegothic, sans-serif";
    font-size:16px;
    font-weight: normal;
    line-height: 170%;
}

.Explanation-container span span{
    font-weight: bold;
}

.checkbox-container p{
    height: 14px;
    margin-left: 13px;
    font-family: "맑은 고딕, malgun gothic, apple sd gothic neo, applegothic, sans-serif";
    font-size:15px;
    user-select : none; /*텍스트 드래그 제거*/
}
option{
    margin: 0;
    color: black;
}

/* input */
.ipt_top, select{
    width:400px;
    height: 60px;
     
}
input{
    width:385px;
    height: 60px;
    padding: 3px 3px 3px 12px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    color: black;
}
input::placeholder{
    color: #969696;  
}

select{
    width:400px;
    height: 60px;
    padding: 0px 45px 0px 12px;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid black;
    color: #969696;
}
input:focus, select:focus{
    outline: 0;
}

input[type=checkbox]{
    position: relative;
    top:25%;
    width:12px;
    height: 12px;
}

/* button */
button{
    width:140px;
    height: 39px;
    cursor:pointer;
    border: none;
    font-size: 16px;
    color: #969696;
    background-color: rgb(51, 51, 51);
    float: center;
}

/* grid */

.estimation-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 80px) 150px 200px auto 100px auto;
}
.grid-item:nth-child(-2n+6) label{
    float: right;
}
.grid-item:nth-child(9) input{
    /* border: none; */
    width: 100%;
    padding-bottom: 100px;
}

.grid-item:nth-child(10) .checkbox-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.grid-item:nth-child(11) .button-container{
    display: flex;
    justify-content: center;  
}

.grid-item:nth-child(7){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.grid-item:nth-child(8){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.grid-item:nth-child(9){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}


.grid-item:nth-child(10){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.grid-item:nth-child(11){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
}

.submit:hover{
    background-color: black;
}

/* MEDIA */

@media (max-width: 1024px) {
    .Estimates-container{
        margin-top:0px; /*for header*/
    }
    .estimation-grid-container{
        display: block;
    }
    .grid-item{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .grid-item:nth-child(7),.grid-item:nth-child(8){
        display: inline-block;
    }

    .grid-item:nth-child(9) .ipt_bot {
        width: 385px;
    }
}

@media (max-width: 720px) {
    .first-container-item{
        height: 100px;
    }
    .first-container-item h1{
        line-height: 100px;
        font-size: 20px;
        height: 100px;
    }
    .Explanation-container span{
        font-size: 10px;
    }
}